* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}
/* Header Section Started */
.header-section {
    background: url(./images/banner/banner3.png);
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.header-content {
    text-align: right;
    padding-top: 200px;
}
.content {
    width: 40%;
    margin-left: auto;
}
.content h1 {
    font-size: 65px;
    margin-bottom: 20px;
    line-height: 1.2;
    color: white;
}
.content p {
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    line-height: 26px;
}
.btn {
    background-color: #fff;
    color: #005FAC;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #fff;
}
.btn:hover {
    background-color: transparent;
    color: #fff;
    transition: 0.3s;
}
/* Header Section Ended */
/* Banner Section Started */
.banner-section {
    padding-top: 130px;
}
.banner-content {
    display: flex;
    align-items: center;
    gap: 50px;
}
.f-icon {
    color: #16D887;
}
.banner-detail {
   padding-top: 150px;
}
.banner-detail h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
.banner-img img {
    width: 600px;
}
.banner-detail p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
    color: #474747;
}
/* Banner Section Ended */
/* Card Section Started */
.card-section {
    padding-top: 100px;
}
.card-heading {
    text-align: center;
}
.card-heading h2 {
    font-size: 40px;
    font-weight: 700;
}
.card-container {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.card-content {
    text-align: center;
}
.card-content img {
    max-width: 100%;
    margin-bottom: 25px;
}
.card-content h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}
.card-content p {
    font-size: 25px;
    color: #474747;
}
/* Card Section Ended */
/* Cta Section Started*/
.cta-container {
    margin-top: 130px;
    height: 280px;
    border-radius: 8px;
    background-image: url("./images/gradient1.png"), url("./images/watch.png");
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.cta-detail {
    width: 50%;
    padding-left: 50px;
}
.cta-detail h1 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 30px;
}
/* Cta Section Ended */
/* Main Section Ended */
/* Footer Section Started */
.footer-section {
    margin-top: 130px;
    background-color: #151414;
}
.footer-container {
    display: flex;
    justify-content: space-between;
     padding-top: 100px;
}
.footer-content {
    width: 40%;
}
.footer-content h2 {
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 25px;
}
.footer-content p {
    font-size: 16px;
    color: #fff;
    line-height: 26px;
    margin-bottom: 15px;
}
.footer-icon a {
    margin-right: 15px;
}
.footer-form h3 {
    color: #ffffff;
    font-size: 25px;
    margin: 0 0 30px 0 ;
}
input[type="email"] {
    background-color: transparent;
    border: 1px solid #ffffff;
    outline: none;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    color: #ffffff;
    margin-bottom: 20px;
}
input[type="email"]::placeholder {
    color: #ffffff;
}
.btn2 {
    background-color:#005FAC;
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn2:hover {
    background-color: #ffffff;
    color: #005FAC;
    transition: 0.3s;
    border: 1px solid #fff;
}
/* Footer Section Ended */